
.head
  %h1 Student's Records

.wrapper
  = link_to new_record_path do 
    .span4.offset1#create-box
      %h1 Create a record

  =link_to do
    .span4.offset1#update-box
      %h1 Update a record

  =link_to records_path do
    .span4.offset1#delete-box
      %h1 Delete a record  
